*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.hide{
    display: none
}
.all-or-filtered-cards{
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 40px
}
body{
    background: burlywood;
}
.container{
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 0 20px
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
}
h1{
    font-size: 55px;
    color: blue;
    text-transform: uppercase;
    padding: 40px
}
.list-element{
    margin-bottom: 40px
}
ul li{
    list-style-type: none
}
h2, h3{
    font-size: 17px
}
h2{
    color: #000;
    padding: 15px 0 15px 20px;
    text-align: left
}
h3{
    color: #3C3C3C;
    text-align: left;
    margin: 0 0 20px 20px;
    padding-top: 30px
}
h4{
    text-align: right;
    padding: 20px;
    font-size: 14px;
    color: red
}
.filter-container{
    font-size: 25px;
    margin: 20px;
    color: #fff
}
#reset-button{
    margin-top: 50px;
}
#reset-button span{
    font-size: 25px;
    margin: 20px;
    color: #fff;
    margin-bottom: 30px;
    display: block
}
#cards-list li{
    border: 5px solid #000;
    margin: 40px 30px 0 30px

}
.card-container{
    width: 300px;
    position: relative
}
img{
    height: 190px
}
button{
    padding: 16px;
    border-radius: 5px;
    box-shadow: 3px 4px 1px #ccc;
    border: none;
    text-transform: uppercase;
}
button:active{
    background: rgb(14, 119, 138);
    color: #fff;
    box-shadow: 3px 4px 1px rgb(5, 56, 114)
}
button:hover,
button:active{
    cursor: pointer
}
.description-container{
    height: 160px;
    padding: 20px
}
p{
    font-size: 15px;
    font-style: oblique
}
.list-element span{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 20px 0 0;
    font-size: 17px
}
.img{
    height: 200px;
    width: 200px;
    margin-left: 50px;
    border: 1px dashed #000;
    margin-top: 15px
}